*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
/mobile-app/.dart_tool/
/mobile-app/.flutter-plugins
/mobile-app/.flutter-plugins-dependencies
/mobile-app/.packages
/mobile-app/build/
Homestead.json
Homestead.yaml
Thumbs.db
